# MikroTik API Config
API_HOST=172.30.30.254
API_USER=API
API_PASS=Mostafa@Nek
API_PORT=8728

# Web App Authentication
WEB_USER_PASSWORD=123456
WEB_ADMIN_PASSWORD=123456789

# Flask Configuration
WEB_PORT=5000
SECRET_KEY=9f7e2c45b6a14d9a8e4d31f0c5b2a7e1

# Allowed IPs or Networks for Access Control (comma separated)
ALLOWED_NETWORKS=127.0.0.1,192.168.1.0/24,172.32.30.40-172.32.30.50
