{% extends 'layout.html' %}
{% block title %}درباره ما{% endblock %}
{% block content %}

<div class="row align-items-center">
    <div class="col-md-4 text-center">
        <img src="https://avatars.githubusercontent.com/u/136075185" alt="Profile" class="img-thumbnail rounded-circle" style="width: 200px;">
    </div>
    <div class="col-md-8">
        <h3>مصطفی نکوئی</h3>
        <p>برنامه‌نویس، توسعه‌دهنده میکروتیک و لینوکس‌باز 💻🐧</p>
        <p>
            <a href="https://github.com/Nekooei-Dev" target="_blank"><i class="fab fa-github fa-lg me-2"></i>GitHub</a><br>
            <a href="mailto:you@example.com"><i class="fas fa-envelope fa-lg me-2"></i>Email</a><br>
            <a href="https://linkedin.com/in/yourprofile" target="_blank"><i class="fab fa-linkedin fa-lg me-2"></i>LinkedIn</a>
        </p>
    </div>
</div>

{% endblock %}
