{% extends 'layout.html' %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card shadow">
      <div class="card-body">
        <h5 class="card-title text-center">ورود</h5>
        <form method="post" action="/login">
          <div class="mb-3">
            <label for="password" class="form-label">رمز عبور</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <button type="submit" class="btn btn-primary w-100">ورود</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
