<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>کاربران</title>
</head>
<body>
    <h2>مشاهده و حذف اینترنت کاربران</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    <table border="1">
        <tr>
            <th>شناسه</th>
            <th>آدرس IP</th>
            <th>علامت مسیر</th>
            <th>اقدامات</th>
        </tr>
        {% for rule in rules %}
        <tr>
            <td>{{ rule['.id'] }}</td>
            <td>{{ rule['src-address'] }}</td>
            <td>{{ rule['new-routing-mark'] }}</td>
            <td><a href="{{ url_for('delete_user', rule_id=rule['.id']) }}">حذف</a></td>
        </tr>
        {% endfor %}
    </table>
    <a href="{{ url_for('dashboard') }}">بازگشت به داشبورد</a>
</body>
</html>
